
build/
install/
log/

src/strategy/strategy/ar/__pycache__
src/strategy/strategy/bb/__pycache__
src/strategy/strategy/mar/__pycache__
src/strategy/strategy/sp/__pycache__
src/strategy/strategy/sr/__pycache__
src/strategy/strategy/obs/__pycache__
src/strategy/strategy/wl/__pycache__
src/strategy/__pycache__

*.ods
detection.jpg
detectiontxt
